body {

    text-align: center;
}
.main-container {
    background-color: rgb(157, 197, 184);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 25px;
    
}

button
{   
    background-color: rgb(159, 165, 159);
}
#icon {
    font-weight: bold;
}
